/* *********************
** USERS
* */

/* Fix Button Logout */
.fixButtonLogout{
  background: none;
  border: none;
  padding: 0;
  display: block;
  color: #fff;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  background: #FF8D1B;
  text-align: center;
  padding: 6px 30px;
  font-weight: bold;
}
.fixButtonLogout:hover{
  background: #212121;
  transition: all .5s;
}

/* *********************
** ADMIN
* */

/* Format Validate Form */
input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  color: #2dce89;
  border: 1px solid #2dce89;
}

.custom-uploadimg .parsley-success{
  border: none;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  color: #fb6340;
  background-color: background-color: #fff;
  border-color: #fb6340
}

.parsley-errors-list {
  margin: 2px 0 3px;
  padding: 0;
  list-style-type: none;
  line-height: 0.9em;
  opacity: 0;
  font-size: 80%;
  color: #fb6340;
  font-weight: 400;

  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
  opacity: 1;
}

.parsley-type,
.parsley-required,
.parsley-equalto {
  color: #fb6340;
}

/* Remove List Checkbox */
.removeRow {
  color: white;
  background: #f5365c !important;
  border-color: #f5365c !important;
}

/* Avatar Hover Profile */
.box-avatar {
  width: 180px;
  height: 180px;
  margin-top: -80px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.box-avatar img {
  width: 180px;
  height: 180px;
  position: relative;
  border: 3px solid #fff;
  z-index: 3;
  opacity: 1;
  transition: all .7s;
}

.box-avatar .camera-hover {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  color: white;
  opacity: 0;
  z-index: 2;
  transition: all .7s;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  margin-bottom: 0;
}
.box-avatar:hover .camera-hover {
  opacity: 1;
  z-index: 3;
}

/* Background Change Profile */
.profileMe{
  position: relative;
}
.profileMe .btn-profileMe{
  position: absolute;
  right: 0;
  top: 7px;
  display: none;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}
.profileMe:hover .btn-profileMe{
  display: block;
  -webkit-transition: .5s;
  -moz-transition: .5s;
  -ms-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
}


/* Icon Loading */
.autoLoadding{
  -webkit-animation:fa-spin .3s infinite linear;
  animation:fa-spin .3s infinite linear;
}

/* Achievers - Account Management */
.fix-achievers .btn-outUser{
  position: absolute;
  color: #f5365c;
  border: none;
  background: none;
  box-shadow: none;
  top: -12px;
  left: 0;
  font-size: 15px;
  cursor: pointer;
}

.fix-achievers .box{
  margin-bottom: 25px;
}

.fix-achievers .box .panel {
  border-radius: 4px;
}

.fix-achievers .box .panel .panel-body {
  background: #5e72e4  !important;
  color: #fff;
  text-align: center;
  border-radius: 4px 4px 0 0;
  padding: 15px 0;
}

.fix-achievers .box .panel h4 {
  margin: 0 0 10px 0;
  font-size: 15px;
  font-weight: 300;
  color: white;
}

.fix-achievers .box .panel .follow-ava{
  border-radius: 50%;
  -webkit-border-radius: 50%;
  border: 5px solid #FFF;
  display: inline-block;
  padding: 15px;
  color: #000;
}

.fix-achievers .box .panel .follow-ava img{
  width: 65px;
  height: 65px;
}

.fix-achievers .box .panel .follower-foot{
  background: #5e62e4  !important;
  color: #fff;
  padding: 8px 5px 5px 5px;
  color: #757575;
  border-radius: 0 0 4px 4px;
  -webkit-border-radius: 0 0 4px 4px;
  font-weight: 300;
  display: block;
  min-height: 155px;
}

.fix-achievers .box .panel .follower-foot ul {
  list-style-type: none;
  padding: 0;
}
.fix-achievers .box .panel .follower-foot ul li{
  display: inline-block;
  width: 48%;
  line-height: normal;
  text-align: center;
  color: white;
}

.fix-achievers .box .panel .follower-foot ul li h5{
  margin: 5px 0 0 0;
  font-size: 14px;
  color: white;
}

.fix-achievers .box .panel .follower-foot ul li p{
  font-size: 13px;
}

/* notification box */
.fixBox-noti{
  height: 455px;
  overflow: auto !important;
}

/* Optional: Makes the sample page fill the window. */
.controls {
  margin-top: 10px;
  border: 1px solid transparent;
  border-radius: 2px 0 0 2px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  height: 32px;
  outline: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

#pac-input {
  background-color: #fff;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 300;
  margin-left: 12px;
  padding: 0 11px 0 13px;
  text-overflow: ellipsis;
  width: 300px;
}

#pac-input:focus {
  border-color: #4d90fe;
}

.pac-container {
  font-family: Roboto;
}

#type-selector {
  color: #fff;
  background-color: #4d90fe;
  padding: 5px 11px 0px 11px;
}

#type-selector label {
  font-family: Roboto;
  font-size: 13px;
  font-weight: 300;
}

/* fix search list new */
.fixSearchListNew .navbar-search{
  display:  block;
  transform: none;
}

@media screen and (max-width: 768px) {
  .fixSearchListNew .showEntrie{
    justify-content: center !important;
    margin-bottom: 15px;
    order: -1;
  }
}

/* Image banner change */
.hoverChangeBanner .imageBannerChange{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  border-radius: calc(.375rem - 1px);
  color: white;
  opacity: 0;
  z-index: 2;
  transition: all .7s;
  background: rgba(0, 0, 0, 0.5);
  cursor: pointer;
  margin-bottom: 0;
}
.hoverChangeBanner:hover .imageBannerChange{
  opacity: 1;
  z-index: 3;
}

/* Custom File Fix */
.custom-file-fix .custom-file-label{
  background: #CCCCCC;
}