.nhomdichvu{
    display: none;
}
.nhomdichvu .dvmuamoi{
    /* display: none; */
}
.nhomdichvu .dvcamdo{
    /* display: none; */
}

.dvmuamoi .parsley-errors-list{
    position: absolute;
    bottom: -16px;
}
.dvmualai .parsley-errors-list{
    position: absolute;
    bottom: -16px;
}
